body{
  margin: 0;
  background-color: #1F2937;
  font-family: 'Roboto', sans-serif;
}


.header{
  display: flex;
  justify-content: space-between;
  padding: 0px 100px ;
  align-items: center;
  color: white;
  border: none;
  margin-bottom: 45px;
}

.header-logo{
  font-size: 24px;
  color: #F9FAF8;
}

.header-links{
  display: flex;
  gap: 20px;
  font-size: 18px;
  color: #E5E7EB;
}

.introduction{
  display: flex;
  padding: 0 100px;
  align-items: center;
  justify-content: center;
  align-items: center;
  color: white;
  justify-content: space-between;
  margin-bottom: 100px;
}

.intro-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; 
}

.intro-subheading{
  font-size: 48px;
  font-weight: extra-bold;
  text-align: left;
  color: #F9FAF8;
  max-width: 350px;
  /* margin-bottom: 0px; */
}

.intro-par{
  /* margin-top: 0; */
  font-size: 18px;
  max-width: 400px;
  color: #E5E7EB;
}

.intro-imag-container{
  flex: 2;
}

.intro-image{
    max-width: 250px;
    height: auto;
    flex:1;
    object-fit: fill;
}

.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.information-header{
  font-size: 36px;
  font-weight: extra-bold;
  color: #1F2937;
}

.unordered-list{
  display: flex;
  margin: 30px;
}

li{
  flex: 1;
  max-width: 200px;
}

.image-placeholder{
  width: 300px;
  height: 200px;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
}

.illus-image{
  display: flex;
  flex-direction:column;
  margin: 30px;
}
